.match-wrapper{
  width: 100%;
  padding: 0 64px;
  display: flex;
  flex-direction: column;
  margin-bottom: 4px;
}

.match-container{
  background-color: $offwhite-light;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .success-indicator{
    height: 19vh;
    width: 32px;
  }

  .success-true{
    background-color: #77E444;
  }
  
  .success-false{
    background-color: #E46144;
  }

  .champ-icon{
    height: 128px;
  }
}


.match-chosen-spells{
  display: flex;
  flex-direction: row;

  .match-masteries{
    display: flex;
    align-items: center;
    width: 55px;
  }

  .match-keystone{
    width: 48px;
    height: 48px;
    background-color: black;
    border-radius: 50%;
  }

  .match-secondary{
    width: 32px;
    background-color: black;
    border-radius: 50%;
    display: float;
    margin-left: -30%;
    margin-bottom: -45%;
    padding: 4px;
  }
  
  .match-summoner-spells{
    display: flex;
    flex-direction: column;
  
    img{
      width: 48px;
    }
  
    .lower-spell{
      margin-top: 8px;
    }
  }
}

.match-report-wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;

  div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 126px;
    flex-wrap: wrap;
  }


  img, .pretend-img{
    min-width: 38px;
    max-width: 38px;
    min-height: 38px;
    max-height: 38px;
  }

  .match-trinket{
    margin-left: 4px;
  }

  .match-vision-icon{
    width: 32px;
  }
}

.match-item{
  margin-right: 4px;
  background-color: #222;
  border-radius: 4px;
}
.match-item-4, .match-item-5, .match-item-6{
  margin-top: 4px;
}

.match-report-stats{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;

    .match-report-kda, .match-report-column *{
      margin-bottom: 6px;
    }

    .match-report-side-by-side{
      display: flex;
      flex-direction: row;
    
      .match-report-stat-icons{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        img{
          margin: 0 0 10px 6px;
        }
    
        .stat-icon-eye{
          width: 65%;
        }
      }
    }
}


.match-report-team{
  margin-left: 8px;
  width: 140px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 10pt;
}

.match-report-divider{
  margin: 0 12px 0 2px;
  height: 60%;
}

.match-report-players{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 16px;

  .match-report-team{
    display: flex;
    flex-direction: column;

    div{
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 4px;
    }

    img{
      width: 24px;
      margin-right: 6px;
      border-radius: 50%;
    }
  }
}


// .expandable{
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   align-items: center;
//   background-color: $offwhite-light;
//   border: $border-std;
//   border-top: none;
//   margin-bottom: 8px;

//   .expandable-carrot{
//     height: 16px;
//   }
  
//   .expand-text{
//     font-size: 12pt;
//     margin: 4px 6px;
//   }

// }

// .expandable:hover{
//   cursor: pointer;
// }